$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

$main-link-color: #007b94;
/* Space out content a bit */
body {
  font: 14px/18px "Lantinghei SC","Microsoft YaHei","微软雅黑","STHeiti",メイリオ, Meiryo, 'ヒラギノ角ゴ Pro w3', 'Hiragino Kaku Gothic Pro', Osaka, 'ＭＳ Ｐゴシック', 'MS P Gothic', STXihei, 'HEITI TC', 黑體-繁, 微軟正黑體, 黑體, Arial, Helvetica, sans-serif,"微軟正黑體",'cwTeXHei', 'cwTeXYen', "Segoe UI","Helvetica Neue", cursive;
  color:#696969;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "liga";
  font-style: normal;
  text-rendering: optimizelegibility;
  padding-bottom: 20px;
  color:#000;
  a{
    color:#000;
    transition-duration: 0.15s;
    &:hover{
      transition-duration: 0.25s;
    }
    &:focus,&:hover,&.active{
      color:#007b94;
      outline:0;
      text-decoration: none;
    }
  }
  #mm-blocker{
    display: none !important;
  }
  nav#menu{
    margin-top:25px;
    @media screen and (max-width: 1170px) {
      display: none;
    }
    .sf-arrows .sf-with-ul::after{
      display: none;
    }
    >ul{
      width:100%;
      text-align: center;
      letter-spacing: 15px;
      margin:0;
      padding:0;
      @media screen and (max-width: 1170px) {
        margin-top:-50px;
      }
      >li{
        list-style:none;
        letter-spacing: 1px;
        // float:left;
        display: inline-block;
        position:relative;
        text-align:center;
        @media screen and (max-width: 1170px) {
          display: block;
          font-size: 120%;
        }

        &.active{
          >a{
            color:#007b94;
          }
        }
        >a{
          padding-right:0;
          font-weight: 600;
          @media screen and (max-width: 1170px) {
            padding:15px;
          }
        }
        &:last-child{
          position:relative;
          a{
            cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAUCAQAAADFXM7/AAABGElEQVQ4y4XRrUtDURzG8QdhqBgGMsUrjGFQk6DFuiLIsIhmYQYNKggGg2WIf4BjliGsaROFBS2LIqyYxLQylIsiCIoT37+GK/ec673b+LXnfM55DucIIfQ8UmCKPrpIscglXmpGCF39DDFPmbvce2fNzTPAKiF2nxP7gfg1IVYCiRrOMDuhks9YmryVqkQmhLyLOHzEfDbHYSRDE1z4Kxrl+juaZSkZluTmLJqtUzBskvMmpbMcGbbFZiRrOHEeln1WryZwi2G2RJbA8+7i8DQWREVknfX3Wdt0c+rvfZzeoJdBau4/hk4Yp58ZFkgTZ43b4wxJC1pF9WqZAyq8pBB667GhaDo2bMFs2JIZ2IZ5cA+1n68O9AtwrqHuQELT4AAAAABJRU5ErkJggg==), auto;
            img {
              position:absolute;
              bottom:25px;
              right:0;
              @media screen and (max-width: 1170px) {
                bottom:25px;
                right:0px;
              }
            }
          }
        }
        ul{
          &:after{
            border:0;
          }
          margin-top:20px;
          position:absolute;
          width: 100%;
          z-index: 1;
          li{
            // height: 2em;
            display: block;
            text-align: center;
            background:rgba(255,255,255,0.75);
            padding:10px 15px;
            min-width: 200px;
            a{
              // line-height: 1em;
            }
            &+li{
              border-top:1px solid #aaa;
              a{
                line-height: 1em;
              }
            }

          }
        }
      }
    }
    &.mm-opened{
      z-index: 1;
    }
    #mm{
      display: none;
    }

  }
  nav#mmenu{
    @media screen and (min-width: 1170px) {
      display: none;
    }
    >ul{
      position:fixed;
      z-index: -1;
      top:0;
      opacity:0;
      height:40px;
      left:0;
      width:100%;
      overflow: hidden;
      background: #F3F3F3;
      font-size:percentage(16/14);
      padding-top:20px;
    }
    li {
      height:40px;
      line-height: 50px;
      vertical-align: baseline;
      padding-left:5%;
      a{
        transition: opacity 0.75s ease-out 0s;
      }
      hr{
        display: none;
      }
    }
    >li {
      display:  block;
      margin:0 15px;
      text-align:center;
      border-bottom:1px solid #181818;
      position:relative;
      &:before{
        display: inline-block;
        vertical-align: middle;
        content:' ';
      }
      a{
        color:#fff;
        display: inline-block;
        vertical-align: middle;
        opacity:0;
        color:rgba(0,0,0,0);
        &:hover{
          color:$main-link-color;
        }
      }
      ul {
        height: 0;
        padding:0;
        margin:0;
        overflow: hidden;
        line-height:60px;
        text-align:left;
        width:100%;
        letter-spacing: -1em;
        transform: scaleY(0);
        transform-origin: top center 0;
        transition-duration: 0.5s;
        opacity: 0;
        li{
          display: inline-block;
          width:50%;
          margin:0;
          letter-spacing: 0.2em;
        }
      }
    }
    #mm{
      cursor: pointer;
      position:absolute;
      top:5px;
      left:10px;
      font-size: 22px;
      z-index: 10;
      display: block;
    }
  }
  &.menuon{
    background: #F3F3F3;
    nav#mmenu{
      >ul{
        top:40px;
        position:absolute;
        z-index: 100;
        opacity:1;
        height: auto;
        letter-spacing: -1em;
        >li{
          width:100%;
          height:40px;
          position:relative;
          a{
            letter-spacing: 1px;
          }
          ul{
            letter-spacing: -1em;
            margin-top: -1em;
            height:0;
            overflow:hidden;
            li{
              transform:scaleY(0);
              color:#000;
              width: 100%;
              padding-left: 10%;
              a{
                letter-spacing: 1px;
              }
            }
          }
          &.on{
            ul{
              height: auto;
            }
            li{
              transform:none;
            }
          }
        }
      }
    }
    >section {
      display: none;
    }
    #mm{
      i:before{
        content:"";
      }
    }
  }
  ul{
    margin:0;
    padding:0;
    li{
      list-style: none;
      display: inline-block;
    }
  }


  h3{
    font-size: percentage(18/14);
    color:#007b94;
  }
  .pagination{
    letter-spacing: -1em;
    a{
      letter-spacing: 1px;
      display: inline-block;
      padding:0 8px;
      color:#007b94;
      &:hover,&.active{
        color:#6cdbf1;
      }
    }
    ul{
      display: inline;
      white-space: nowrap;
      width: auto;
      li{
        display: inline;
        width: auto;
      }
    }
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding:0 ;
}

/* Custom page header */
header {
  // border-bottom: 1px solid #e5e5e5;
  margin:0;
  position:relative;

  /* Make the masthead heading the same height as the navigation */
  h1 {
    text-align: center;
    line-height: 40px;
  }
}
.mm-navbar{
  display: none !important;
}

/* Custom page footer */
footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  nav{
    &:nth-child(1){
      @media screen and (max-width: 768px) {

        letter-spacing: 30px;
        legend{
          letter-spacing: 1px;
          > a{
            transform :none;
            height: auto;
          }
          cursor: pointer;
        }
      }
    }
    &:nth-child(2){
      @media screen and (max-width: 768px) {
        margin: 20px 0 0;
      }
    }

  }
  li{
    text-align: left;
    margin-bottom:40px;
    min-height: 180px;
    @media screen and (max-width: 768px) {
      margin-bottom:0;
    }
    fieldset{
      width:140px;
      margin:0 auto;
      @media screen and (max-width: 768px) {
        width: 100%;
        padding: 0 15px;
      }
    }
    legend{
      border:0;
      font-weight: 600;
      font-size: percentage(13/14);
      line-height: 30px;
      margin:0;
      i.fa-plus, i.fa-minus{
        display: none;
        font-size: 10px;
        color:#666;
        @media screen and (max-width: 768px) {
          display: inline-block;
        }
      }
    }
    a{
      display: block;
      @media screen and (max-width: 768px) {
        display: none;
      }
      letter-spacing: 1px;
      white-space: nowrap;
      font-weight: normal !important;
      font-size: percentage(13/14);
      line-height: 30px;
      color:#a0a0a0;
      &:hover{
        color:#000;
      }

    }
  }
  .social{
    font-size: percentage(32/14);
    width: 100%;
    text-align: center;
    li{
      display: inline-block;
      letter-spacing: 20px;
      min-height: 50px;
      &:hover{
        .fa-google-plus{
          color:#D6492F
        }
        .fa-instagram{
          color:#B7A18A;
        }
        .fa-facebook{
          color:#728AB0;
        }
        .fa-youtube{
          color:#BC3028;
        }
      }
    }
  }
  .copy{
    text-align:center;
    font-size: percentage(10/14);
  }
}
.row{
 margin:0;
}

@import "page/home";
  
.contactus{
  @import "page/contactus";
}
.article{
  @import "page/article";
}
.news{
  @import "page/news";
}


.detail{
  aside {
    position: relative;
    img{
      width:100%;
    }
  }
}

.banner{
  margin-top: 25px;
  min-height: 100px;
  overflow:hidden;
  img{
    height: 100%;
    margin-left:-750px;
    left:50%;
    position:relative;
  }
}
.top-buffer { margin-top:20px; }
.articles{
  li{
    position:relative;
    max-width: 450px;
    height: 400px;
    // overflow:hidden;
    aside{
      border:1px solid #000;
      padding:10px;
      img{
        width: 100%;
      }
    }
    h3{
      margin: 20px 0 10px;
      line-height: 28px;
      span{
        display: block;
      }
    }
    p{
      margin:0;
      line-height: 22px;
      text-overflow: ellipsis;
    }
    margin-bottom:45px;
    a{
      color:#007b94;
      position:absolute;
      right:15px;
      bottom: -10px;
    }
  }
  >hr{
    border-color:#f0f0f0;
    @media screen and (max-width: 1170px) {
      display: none;
    }

  }
}
.mobile,.tablet{
  header #mm{
    display: block;
  }
}

@media screen and (min-width: 1170px) {
  .container {
    width: 100%;
    max-width: 1400px;
    padding: 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}


/* Responsive: Portrait tablets and up */
@media (max-width: 1170px)  and (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 1170px;
    padding: 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px)   {
  .container {
    width: 100%;
    max-width: 767px;
    padding: 0;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
