.main-content{
  h2,h1{
    font-size:percentage(18/14);
    text-align: center;
  }
  .news-content{
    margin:40px 0;
    li{
      width:100%;
      display: inline-block;
      margin-bottom:48px;
      h3{
        margin-top:0;
        color:#333;
        @media (max-width: 767px)   {
          margin-top: 15px;
        }
      }
      &+li{
        border-top:1px solid #f0f0f0;
        padding-top:50px;
      }
      &:last-child{
        margin-bottom:0;
      }
      a.more{
        color:#007b94;
        &:hover,&.active{
          color:#6cdbf1;
        }
      }
      .date{
        color:#333;
        position:absolute;
        top:0;
        right:30px;
        @media (max-width: 767px)   {
          float: right;
          right:0;
          position:relative;
        }
      }
    }
  }
  hr{
    border-color:#f0f0f0;
  }

}